<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>面试习题整理</string>
		<key>class</key>
		<string>JSDInterViewTopic</string>
		<key>route</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>定时器</string>
		<key>route</key>
		<true/>
		<key>class</key>
		<string>JSDTimerVC</string>
	</dict>
	<dict>
		<key>route</key>
		<true/>
		<key>title</key>
		<string>Runtime</string>
		<key>class</key>
		<string>JSDRuntimeVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>RunLoop</string>
		<key>class</key>
		<string>JSDRunLoopVC</string>
		<key>route</key>
		<true/>
	</dict>
	<dict>
		<key>route</key>
		<true/>
		<key>title</key>
		<string>UIView</string>
		<key>class</key>
		<string>JSDUIViewGuide</string>
	</dict>
	<dict>
		<key>route</key>
		<true/>
		<key>title</key>
		<string>Objective-C Guide</string>
		<key>class</key>
		<string>JSDObjectiveCVC</string>
	</dict>
	<dict>
		<key>route</key>
		<true/>
		<key>class</key>
		<string>JSDKVOKVCVC</string>
		<key>title</key>
		<string>KVO KVC</string>
	</dict>
	<dict>
		<key>route</key>
		<true/>
		<key>class</key>
		<string>JSDBlockVC</string>
		<key>title</key>
		<string>Block</string>
	</dict>
	<dict>
		<key>route</key>
		<true/>
		<key>class</key>
		<string>JSDMultithreadingVC</string>
		<key>title</key>
		<string>多线程</string>
	</dict>
	<dict>
		<key>route</key>
		<true/>
		<key>title</key>
		<string>六大设计原则</string>
		<key>class</key>
		<string>JSDDesignVC</string>
	</dict>
	<dict>
		<key>route</key>
		<true/>
		<key>title</key>
		<string>算法相关</string>
		<key>class</key>
		<string>JSDArithmeticVC</string>
	</dict>
	<dict>
		<key>route</key>
		<true/>
		<key>title</key>
		<string>第三方库</string>
		<key>class</key>
		<string>JSDResourceVC</string>
	</dict>
	<dict>
		<key>route</key>
		<true/>
		<key>title</key>
		<string>锁</string>
		<key>class</key>
		<string>JSDLockVC</string>
	</dict>
	<dict>
		<key>route</key>
		<true/>
		<key>title</key>
		<string>防Crash</string>
		<key>class</key>
		<string>JSDCrashVC</string>
	</dict>
</array>
</plist>
