<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   JSDPerformanceOptimization.plist
   JSDPlayground

   Created by Jersey on 11/1/2020.
   Copyright (c) 2020 Jersey. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>route</key>
            <true/>
            <key>class</key>
            <string>JSDLaunchOptimizationVC</string>
            <key>title</key>
            <string>启动速度</string>
        </dict>
        <dict>
            <key>route</key>
            <true/>
            <key>class</key>
            <string>JSDCatonMonitorVC</string>
            <key>title</key>
            <string>卡顿检测</string>
        </dict>
        <dict>
            <key>route</key>
            <true/>
            <key>class</key>
            <string>JSDFPSMonitorVC</string>
            <key>title</key>
            <string>FPS流畅度检测</string>
        </dict>
        <dict>
            <key>route</key>
            <true/>
            <key>class</key>
            <string>JSDListViewMonitorVC</string>
            <key>title</key>
            <string>列表流畅度优化</string>
        </dict>
        <dict>
            <key>route</key>
            <true/>
            <key>class</key>
            <string>JSDNetWorkOptimizationVC</string>
            <key>title</key>
            <string>网络优化</string>
        </dict>
        <dict>
            <key>route</key>
            <true/>
            <key>class</key>
            <string>JSDMemoryLeakOptimizationVC</string>
            <key>title</key>
            <string>内存泄漏优化</string>
        </dict>
        <dict>
            <key>route</key>
            <true/>
            <key>class</key>
            <string>JSDWebViewLoadVC</string>
            <key>title</key>
            <string>提升H5加载速度</string>
        </dict>
    </array>
</plist>
