<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>修改视图点击区域</string>
		<key>class</key>
		<string>JSDViewTouchPointVC</string>
		<key>route</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>CoreGraphics</string>
		<key>class</key>
		<string>JSDCoreGraphicsVC</string>
		<key>route</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>CALayerGuide</string>
		<key>class</key>
		<string>JSDCALayerGuideVC</string>
		<key>route</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>图片拼接</string>
		<key>class</key>
		<string>JSDImageSpritesVC</string>
		<key>route</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>UIView Disply</string>
		<key>class</key>
		<string>JSDCALayerDelegateVC</string>
		<key>route</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Clock</string>
		<key>class</key>
		<string>JSDCALayerClockVC</string>
		<key>route</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>UIView父视图自适应子视图</string>
		<key>class</key>
		<string>JSDUIViewSelfAdapt</string>
		<key>route</key>
		<true/>
	</dict>
</array>
</plist>
