<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   JSDUIViewGuide.plist
   JSDPlayground

   Created by Jersey on 2019/3/5.
   Copyright (c) 2019年 Jersey. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>修改视图点击区域</string>
            <key>class</key>
            <string>JSDViewTouchPointVC</string>
            <key>route</key>
            <true/>
        </dict>
    </array>
</plist>
