<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSDAsyncAwait.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B428B8C7269F2CE5002325A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B428B8DD269F2CE7002325A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B428B8E7269F2CE7002325A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
